.image1{
    width:300px;
    display:block;
    /* height: 300px;
    object-fit: contain;
    object-position: bottom;
    border-width: 2px;
    border-color: red;
    border-style: solid; */
    /* border-width: 1px;
    border-radius: 150px;
    object-fit:cover;
    object-position: right;
    box-shadow: 10px 10px 10px black; */
}

.text_box{
    font-size: 20px;
    border-width: 2px;
    border-color: black;
    border-radius: 20px;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:block;
}

.title{
    margin-top: 0;
}

.video_preview{
    width:300px;
    display:inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.channel-pic{
    display:inline-block;
    width: 50px;
    vertical-align: top;
}

.channel-info{
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.dp{
    width: 100%;
    border:none;
    border-radius: 25px;
}